In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
dataset = pd.read_csv('Assignment/kidney_disease.csv')

In [2]:
# Finding the null value counts in each column
dataset.isna().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [3]:
# Splitting the Quantative and Qualitative Columns
from Univariate import CentralTendency
quan,qual=CentralTendency.quanQual(dataset)

Quantative Columns :  ['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

Qualitative Columns : ['rbc', 'pc', 'pcc', 'ba', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification']

In [4]:
# Finding null counts in Qualitative Columns
dataset[qual].isna().sum()

rbc               152
pc                 65
pcc                 4
ba                  4
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [5]:
# Finding null counts in Quantitative Columns
dataset[quan].isna().sum()

id       0
age      9
bp      12
sg      47
al      46
su      49
bgr     44
bu      19
sc      17
sod     87
pot     88
hemo    52
dtype: int64

In [6]:
# Creating the Univariate Table
descriptive=CentralTendency.Univariate(quan,dataset)

In [7]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
Mean,199.5,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
Median,199.5,55.0,80.0,1.02,0.0,0.0,121.0,42.0,1.3,138.0,4.4,12.65
Mode,0,60.0,80.0,1.02,0.0,0.0,99.0,46.0,1.2,135.0,3.5,15.0
Q1:25%,99.75,42.0,70.0,1.01,0.0,0.0,99.0,27.0,0.9,135.0,3.8,10.3
Q2:50%,199.5,55.0,80.0,1.02,0.0,0.0,121.0,42.0,1.3,138.0,4.4,12.65
Q3:75%,299.25,64.5,80.0,1.02,2.0,0.0,163.0,66.0,2.8,142.0,4.9,15.0
99%,395.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4:100%,399.0,90.0,180.0,1.025,5.0,5.0,490.0,391.0,76.0,163.0,47.0,17.8
IQR,199.5,22.5,10.0,0.01,2.0,0.0,64.0,39.0,1.9,7.0,1.1,4.7
1.5Rule,299.25,33.75,15.0,0.015,3.0,0.0,96.0,58.5,2.85,10.5,1.65,7.05
Lesser,-199.5,8.25,55.0,0.995,-3.0,0.0,3.0,-31.5,-1.95,124.5,2.15,3.25
Greater,598.5,98.25,95.0,1.035,5.0,0.0,259.0,124.5,5.65,152.5,6.55,22.05
min,0,2.0,50.0,1.005,0.0,0.0,22.0,1.5,0.4,4.5,2.5,3.1
max,399,90.0,180.0,1.025,5.0,5.0,490.0,391.0,76.0,163.0,47.0,17.8
Kurtosis,-1.2,0.05784,8.646095,-1.144357,-0.383377,5.055348,4.225594,9.345289,79.304345,85.53437,142.505912,-0.471398
Skew,0.0,-0.668259,1.605429,-0.172444,0.998157,2.464262,2.010773,2.634374,7.509538,-6.996569,11.582956,-0.335095

In [8]:
#Getting NaN in 99% Row because of the null values

In [9]:
# Finding the Outlier's Columns
Lesser,Greater=CentralTendency.findOutliers(descriptive)

Lesser Outliers Columns :  ['age', 'bp', 'sod', 'hemo']

Greater Outliers Columns :  ['bp', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot']

In [10]:
# Filling the Outliers with respect to the IQR
CentralTendency.fillingOutliers(Lesser,Greater,dataset,descriptive)

In [11]:
descriptive=CentralTendency.Univariate(quan,dataset)

In [12]:
# After filling, verifying the Outliers
Lesser,Greater=CentralTendency.findOutliers(descriptive)

Lesser Outliers Columns :  []

Greater Outliers Columns :  []

In [13]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
Mean,199.5,51.551151,75.695876,1.017408,1.016949,0.0,139.97191,51.764304,2.131332,138.207668,4.390064,12.526868
Median,199.5,55.0,80.0,1.02,0.0,0.0,121.0,42.0,1.3,138.0,4.4,12.65
Mode,0,60.0,80.0,1.02,0.0,0.0,259.0,124.5,5.65,135.0,3.5,15.0
Q1:25%,99.75,42.0,70.0,1.01,0.0,0.0,99.0,27.0,0.9,135.0,3.8,10.3
Q2:50%,199.5,55.0,80.0,1.02,0.0,0.0,121.0,42.0,1.3,138.0,4.4,12.65
Q3:75%,299.25,64.5,80.0,1.02,2.0,0.0,163.0,66.0,2.8,142.0,4.9,15.0
99%,395.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4:100%,399.0,90.0,95.0,1.025,5.0,0.0,259.0,124.5,5.65,152.5,6.55,17.8
IQR,199.5,22.5,10.0,0.01,2.0,0.0,64.0,39.0,1.9,7.0,1.1,4.7
1.5Rule,299.25,33.75,15.0,0.015,3.0,0.0,96.0,58.5,2.85,10.5,1.65,7.05
Lesser,-199.5,8.25,55.0,0.995,-3.0,0.0,3.0,-31.5,-1.95,124.5,2.15,3.25
Greater,598.5,98.25,95.0,1.035,5.0,0.0,259.0,124.5,5.65,152.5,6.55,22.05
min,0,8.25,55.0,1.005,0.0,0.0,22.0,1.5,0.4,124.5,2.5,3.25
max,399,90.0,95.0,1.025,5.0,0.0,259.0,124.5,5.65,152.5,6.55,17.8
Kurtosis,-1.2,-0.109481,-0.975988,-1.144357,-0.383377,0,-0.177305,0.025957,-0.088975,-0.058308,0.311595,-0.486354
Skew,0.0,-0.61576,0.090421,-0.172444,0.998157,0,1.022962,1.078868,1.153813,-0.183473,0.383004,-0.331398

If Skewness is Greater than -0.5 and lesser than 0.5 then using Mean to fill -0.5 < skew < 0.5
Out of the range (-0.5 > skew > 0.5) filling with Median

In [ ]:
for col in quan:
    skew=dataset[col].skew()
    print(col,"\t",skew)

In [14]:
from sklearn.impute import SimpleImputer
mean_imputer = SimpleImputer(strategy='mean')
median_imputer = SimpleImputer(strategy='median')

for col in quan:
    skew=dataset[col].skew()
    if -0.5 < skew < 0.5:
        print("Mean Filled : \t", col,"\t",skew)
        dataset[[col]] = mean_imputer.fit_transform(dataset[[col]])
    else:
        print("Median Filled : \t", col,"\t",skew)
        dataset[[col]] = median_imputer.fit_transform(dataset[[col]])

Mean Filled : 	 id 	 0.0
Median Filled : 	 age 	 -0.615760293478088
Mean Filled : 	 bp 	 0.0904209561903586
Mean Filled : 	 sg 	 -0.1724437507086711
Median Filled : 	 al 	 0.9981572420526745
Mean Filled : 	 su 	 0
Median Filled : 	 bgr 	 1.022962253995182
Median Filled : 	 bu 	 1.0788677075583988
Median Filled : 	 sc 	 1.1538129863961895
Mean Filled : 	 sod 	 -0.1834733448850927
Mean Filled : 	 pot 	 0.38300371185521137
Mean Filled : 	 hemo 	 -0.33139791362594295

In [15]:
dataset[quan].isna().sum()

id      0
age     0
bp      0
sg      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hemo    0
dtype: int64

In [16]:
descriptive=CentralTendency.Univariate(quan,dataset)

In [17]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
Mean,199.5,51.62875,75.695876,1.017408,0.9,0.0,137.885,51.3005,2.096,138.207668,4.390064,12.526868
Median,199.5,55.0,77.847938,1.017408,0.0,0.0,121.0,42.0,1.3,138.207668,4.390064,12.526868
Mode,0.0,55.0,80.0,1.02,0.0,0.0,121.0,124.5,5.65,138.207668,4.390064,12.526868
Q1:25%,99.75,42.0,70.0,1.015,0.0,0.0,101.0,27.0,0.9,135.0,4.0,10.875
Q2:50%,199.5,55.0,77.847938,1.017408,0.0,0.0,121.0,42.0,1.3,138.207668,4.390064,12.526868
Q3:75%,299.25,64.0,80.0,1.02,2.0,0.0,150.0,61.75,2.725,141.0,4.8,14.625
99%,395.01,80.01,95.0,1.025,4.0,0.0,259.0,124.5,5.65,150.0,6.5005,17.601
Q4:100%,399.0,90.0,95.0,1.025,5.0,0.0,259.0,124.5,5.65,152.5,6.55,17.8
IQR,199.5,22.0,10.0,0.005,2.0,0.0,49.0,34.75,1.825,6.0,0.8,3.75
1.5Rule,299.25,33.0,15.0,0.0075,3.0,0.0,73.5,52.125,2.7375,9.0,1.2,5.625
Lesser,-199.5,9.0,55.0,1.0075,-3.0,0.0,27.5,-25.125,-1.8375,126.0,2.8,5.25
Greater,598.5,97.0,95.0,1.0275,5.0,0.0,223.5,113.875,5.4625,150.0,6.0,20.25
min,0.0,8.25,55.0,1.005,0.0,0.0,22.0,1.5,0.4,124.5,2.5,3.25
max,399.0,90.0,95.0,1.025,5.0,0.0,259.0,124.5,5.65,152.5,6.55,17.8
Kurtosis,-1.2,-0.036511,-0.912779,-0.894378,0.022784,0,0.271746,0.215921,0.083239,0.760553,1.245158,-0.108907
Skew,0.0,-0.635613,0.091798,-0.183473,1.180088,0,1.175726,1.140173,1.219535,-0.207193,0.433205,-0.355096

In [18]:
dataset[qual].isna().sum()

rbc               152
pc                 65
pcc                 4
ba                  4
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [19]:
# Dropping the Null values if less than 5 in Categorical Columns
for col in qual:
    if (dataset[col].isna().sum()) < 5:
        dataset = dataset.dropna(subset=[col])

In [20]:
dataset[qual].isna().sum()

rbc               151
pc                 64
pcc                 0
ba                  0
pcv                70
wc                105
rc                130
htn                 0
dm                  0
cad                 0
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [21]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0.0,48.00,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1.0,8.25,55.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2.0,62.00,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3.0,48.00,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4.0,51.00,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.00,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396.0,42.00,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397.0,12.00,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398.0,17.00,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399.0,58.00,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

### Still we have Null Values in Categorical Columns which I am not clear so kept as it is...