In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
dataset = pd.read_csv('Assignment/kidney_disease.csv')

In [2]:
# Finding the null value counts in each column
dataset.isna().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [3]:
#PCV columns having some error values like \t? and \t43 because of that its becoming Object type
#So replacing the values \t? as NaN and \t43 as 43

In [4]:
dataset['pcv'].unique()

array(['44', '38', '31', '32', '35', '39', '36', '33', '29', '28', nan,
       '16', '24', '37', '30', '34', '40', '45', '27', '48', '\t?', '52',
       '14', '22', '18', '42', '17', '46', '23', '19', '25', '41', '26',
       '15', '21', '43', '20', '\t43', '47', '9', '49', '50', '53', '51',
       '54'], dtype=object)

In [5]:
dataset['pcv'] = dataset['pcv'].replace(['\t?'],np.nan)

In [6]:
dataset['pcv'].unique()

array(['44', '38', '31', '32', '35', '39', '36', '33', '29', '28', nan,
       '16', '24', '37', '30', '34', '40', '45', '27', '48', '52', '14',
       '22', '18', '42', '17', '46', '23', '19', '25', '41', '26', '15',
       '21', '43', '20', '\t43', '47', '9', '49', '50', '53', '51', '54'],
      dtype=object)

In [7]:
dataset['pcv'] = dataset['pcv'].replace(['\t43'], ['43'])

In [8]:
dataset['pcv'].unique()

array(['44', '38', '31', '32', '35', '39', '36', '33', '29', '28', nan,
       '16', '24', '37', '30', '34', '40', '45', '27', '48', '52', '14',
       '22', '18', '42', '17', '46', '23', '19', '25', '41', '26', '15',
       '21', '43', '20', '47', '9', '49', '50', '53', '51', '54'],
      dtype=object)

In [9]:
#pcv column values are clear now, since all are numerical values so converting to Numeric
dataset['pcv'] = pd.to_numeric(dataset['pcv'], errors='coerce')

In [10]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44.0,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38.0,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31.0,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35.0,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47.0,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54.0,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49.0,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51.0,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53.0,6800,6.1,no,no,no,good,no,no,notckd

In [11]:
# Splitting the Quantative and Qualitative Columns
from Univariate import CentralTendency
quan,qual=CentralTendency.quanQual(dataset)

Quantative Columns :  ['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv']

Qualitative Columns : ['rbc', 'pc', 'pcc', 'ba', 'wc', 'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification']

In [12]:
# Finding null counts in Qualitative Columns
dataset[qual].isna().sum()

rbc               152
pc                 65
pcc                 4
ba                  4
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [13]:
# Finding null counts in Quantitative Columns
dataset[quan].isna().sum()

id       0
age      9
bp      12
sg      47
al      46
su      49
bgr     44
bu      19
sc      17
sod     87
pot     88
hemo    52
pcv     71
dtype: int64

In [14]:
# Creating the Univariate Table
descriptive=CentralTendency.Univariate(quan,dataset)

In [15]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv
Mean,199.5,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437,38.884498
Median,199.5,55.0,80.0,1.02,0.0,0.0,121.0,42.0,1.3,138.0,4.4,12.65,40.0
Mode,0,60.0,80.0,1.02,0.0,0.0,99.0,46.0,1.2,135.0,3.5,15.0,41.0
Q1:25%,99.75,42.0,70.0,1.01,0.0,0.0,99.0,27.0,0.9,135.0,3.8,10.3,32.0
Q2:50%,199.5,55.0,80.0,1.02,0.0,0.0,121.0,42.0,1.3,138.0,4.4,12.65,40.0
Q3:75%,299.25,64.5,80.0,1.02,2.0,0.0,163.0,66.0,2.8,142.0,4.9,15.0,45.0
99%,395.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4:100%,399.0,90.0,180.0,1.025,5.0,5.0,490.0,391.0,76.0,163.0,47.0,17.8,54.0
IQR,199.5,22.5,10.0,0.01,2.0,0.0,64.0,39.0,1.9,7.0,1.1,4.7,13.0
1.5Rule,299.25,33.75,15.0,0.015,3.0,0.0,96.0,58.5,2.85,10.5,1.65,7.05,19.5
Lesser,-199.5,8.25,55.0,0.995,-3.0,0.0,3.0,-31.5,-1.95,124.5,2.15,3.25,12.5
Greater,598.5,98.25,95.0,1.035,5.0,0.0,259.0,124.5,5.65,152.5,6.55,22.05,64.5
min,0,2.0,50.0,1.005,0.0,0.0,22.0,1.5,0.4,4.5,2.5,3.1,9.0
max,399,90.0,180.0,1.025,5.0,5.0,490.0,391.0,76.0,163.0,47.0,17.8,54.0
Kurtosis,-1.2,0.05784,8.646095,-1.144357,-0.383377,5.055348,4.225594,9.345289,79.304345,85.53437,142.505912,-0.471398,-0.320562
Skew,0.0,-0.668259,1.605429,-0.172444,0.998157,2.464262,2.010773,2.634374,7.509538,-6.996569,11.582956,-0.335095,-0.433679

In [16]:
#Getting NaN in 99% Row because of the null values

In [17]:
# Finding the Outlier's Columns
Lesser,Greater=CentralTendency.findOutliers(descriptive)

Lesser Outliers Columns :  ['age', 'bp', 'sod', 'hemo', 'pcv']

Greater Outliers Columns :  ['bp', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot']

In [18]:
# Filling the Outliers with respect to the IQR
CentralTendency.fillingOutliers(Lesser,Greater,dataset,descriptive)

In [19]:
descriptive=CentralTendency.Univariate(quan,dataset)

In [20]:
# After filling, verifying the Outliers
Lesser,Greater=CentralTendency.findOutliers(descriptive)

Lesser Outliers Columns :  []

Greater Outliers Columns :  []

In [21]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv
Mean,199.5,51.551151,75.695876,1.017408,1.016949,0.0,139.97191,51.764304,2.131332,138.207668,4.390064,12.526868,38.895137
Median,199.5,55.0,80.0,1.02,0.0,0.0,121.0,42.0,1.3,138.0,4.4,12.65,40.0
Mode,0,60.0,80.0,1.02,0.0,0.0,259.0,124.5,5.65,135.0,3.5,15.0,41.0
Q1:25%,99.75,42.0,70.0,1.01,0.0,0.0,99.0,27.0,0.9,135.0,3.8,10.3,32.0
Q2:50%,199.5,55.0,80.0,1.02,0.0,0.0,121.0,42.0,1.3,138.0,4.4,12.65,40.0
Q3:75%,299.25,64.5,80.0,1.02,2.0,0.0,163.0,66.0,2.8,142.0,4.9,15.0,45.0
99%,395.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4:100%,399.0,90.0,95.0,1.025,5.0,0.0,259.0,124.5,5.65,152.5,6.55,17.8,54.0
IQR,199.5,22.5,10.0,0.01,2.0,0.0,64.0,39.0,1.9,7.0,1.1,4.7,13.0
1.5Rule,299.25,33.75,15.0,0.015,3.0,0.0,96.0,58.5,2.85,10.5,1.65,7.05,19.5
Lesser,-199.5,8.25,55.0,0.995,-3.0,0.0,3.0,-31.5,-1.95,124.5,2.15,3.25,12.5
Greater,598.5,98.25,95.0,1.035,5.0,0.0,259.0,124.5,5.65,152.5,6.55,22.05,64.5
min,0,8.25,55.0,1.005,0.0,0.0,22.0,1.5,0.4,124.5,2.5,3.25,12.5
max,399,90.0,95.0,1.025,5.0,0.0,259.0,124.5,5.65,152.5,6.55,17.8,54.0
Kurtosis,-1.2,-0.109481,-0.975988,-1.144357,-0.383377,0,-0.177305,0.025957,-0.088975,-0.058308,0.311595,-0.486354,-0.428945
Skew,0.0,-0.61576,0.090421,-0.172444,0.998157,0,1.022962,1.078868,1.153813,-0.183473,0.383004,-0.331398,-0.406615

If Skewness is Greater than -0.5 and lesser than 0.5 then using Mean to fill -0.5 < skew < 0.5
Out of the range (-0.5 > skew > 0.5) filling with Median

In [22]:
for col in quan:
    skew=dataset[col].skew()
    print(col,"\t",skew)

id 	 0.0
age 	 -0.615760293478088
bp 	 0.0904209561903586
sg 	 -0.1724437507086711
al 	 0.9981572420526745
su 	 0
bgr 	 1.022962253995182
bu 	 1.0788677075583988
sc 	 1.1538129863961895
sod 	 -0.1834733448850927
pot 	 0.38300371185521137
hemo 	 -0.33139791362594295
pcv 	 -0.4066149846343512

In [23]:
from sklearn.impute import SimpleImputer
mean_imputer = SimpleImputer(strategy='mean')
median_imputer = SimpleImputer(strategy='median')

for col in quan:
    skew=dataset[col].skew()
    if -0.5 < skew < 0.5:
        print("Mean Filled : \t", col,"\t",skew)
        dataset[[col]] = mean_imputer.fit_transform(dataset[[col]])
    else:
        print("Median Filled : \t", col,"\t",skew)
        dataset[[col]] = median_imputer.fit_transform(dataset[[col]])
    
    dataset[col] = dataset[col].round(1)

dataset['bp'] = dataset['bp'].round(0).astype(int)

Mean Filled : 	 id 	 0.0
Median Filled : 	 age 	 -0.615760293478088
Mean Filled : 	 bp 	 0.0904209561903586
Mean Filled : 	 sg 	 -0.1724437507086711
Median Filled : 	 al 	 0.9981572420526745
Mean Filled : 	 su 	 0
Median Filled : 	 bgr 	 1.022962253995182
Median Filled : 	 bu 	 1.0788677075583988
Median Filled : 	 sc 	 1.1538129863961895
Mean Filled : 	 sod 	 -0.1834733448850927
Mean Filled : 	 pot 	 0.38300371185521137
Mean Filled : 	 hemo 	 -0.33139791362594295
Mean Filled : 	 pcv 	 -0.4066149846343512

In [24]:
dataset[quan].isna().sum()

id      0
age     0
bp      0
sg      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hemo    0
pcv     0
dtype: int64

In [25]:
descriptive=CentralTendency.Univariate(quan,dataset)

In [26]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv
Mean,199.5,51.6275,75.705,1.0,0.9,0.0,137.885,51.3005,2.0895,138.206,4.39275,12.5235,38.896
Median,199.5,55.0,78.0,1.0,0.0,0.0,121.0,42.0,1.3,138.2,4.4,12.5,38.9
Mode,0.0,55.0,80,1.0,0.0,0.0,121.0,124.5,5.6,138.2,4.4,12.5,38.9
Q1:25%,99.75,42.0,70.0,1.0,0.0,0.0,101.0,27.0,0.9,135.0,4.0,10.875,34.0
Q2:50%,199.5,55.0,78.0,1.0,0.0,0.0,121.0,42.0,1.3,138.2,4.4,12.5,38.9
Q3:75%,299.25,64.0,80.0,1.0,2.0,0.0,150.0,61.75,2.725,141.0,4.8,14.625,44.0
99%,395.01,80.01,95.0,1.0,4.0,0.0,259.0,124.5,5.6,150.0,6.501,17.601,53.01
Q4:100%,399.0,90.0,95.0,1.0,5.0,0.0,259.0,124.5,5.6,152.5,6.6,17.8,54.0
IQR,199.5,22.0,10.0,0.0,2.0,0.0,49.0,34.75,1.825,6.0,0.8,3.75,10.0
1.5Rule,299.25,33.0,15.0,0.0,3.0,0.0,73.5,52.125,2.7375,9.0,1.2,5.625,15.0
Lesser,-199.5,9.0,55.0,1.0,-3.0,0.0,27.5,-25.125,-1.8375,126.0,2.8,5.25,19.0
Greater,598.5,97.0,95.0,1.0,5.0,0.0,223.5,113.875,5.4625,150.0,6.0,20.25,59.0
min,0.0,8.2,55,1.0,0.0,0.0,22.0,1.5,0.4,124.5,2.5,3.3,12.5
max,399.0,90.0,95,1.0,5.0,0.0,259.0,124.5,5.6,152.5,6.6,17.8,54.0
Kurtosis,-1.2,-0.033788,-0.913179,0,0.022784,0,0.271746,0.215921,0.057192,0.760294,1.299768,-0.116324,0.128442
Skew,0.0,-0.63652,0.089282,0,1.180088,0,1.175726,1.140173,1.209504,-0.206268,0.441647,-0.3499,-0.448304

In [27]:
### Quantative columns preprocessed and now proceeding with Qualitative Columns(Categorical Columns)

In [28]:
dataset[qual].isna().sum()

rbc               152
pc                 65
pcc                 4
ba                  4
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [29]:
# Dropping the Null values if less than 5 in Categorical Columns
for col in qual:
    if (dataset[col].isna().sum()) < 5:
        dataset = dataset.dropna(subset=[col])

In [30]:
dataset[qual].isna().sum()

rbc               151
pc                 64
pcc                 0
ba                  0
wc                105
rc                130
htn                 0
dm                  0
cad                 0
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [31]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0.0,48.0,80,1.0,1.0,0.0,NaN,normal,notpresent,notpresent,...,44.0,7800,5.2,yes,yes,no,good,no,no,ckd
1,1.0,8.2,55,1.0,4.0,0.0,NaN,normal,notpresent,notpresent,...,38.0,6000,NaN,no,no,no,good,no,no,ckd
2,2.0,62.0,80,1.0,2.0,0.0,normal,normal,notpresent,notpresent,...,31.0,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3.0,48.0,70,1.0,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4.0,51.0,80,1.0,2.0,0.0,normal,normal,notpresent,notpresent,...,35.0,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80,1.0,0.0,0.0,normal,normal,notpresent,notpresent,...,47.0,6700,4.9,no,no,no,good,no,no,notckd
396,396.0,42.0,70,1.0,0.0,0.0,normal,normal,notpresent,notpresent,...,54.0,7800,6.2,no,no,no,good,no,no,notckd
397,397.0,12.0,80,1.0,0.0,0.0,normal,normal,notpresent,notpresent,...,49.0,6600,5.4,no,no,no,good,no,no,notckd
398,398.0,17.0,60,1.0,0.0,0.0,normal,normal,notpresent,notpresent,...,51.0,7200,5.9,no,no,no,good,no,no,notckd
399,399.0,58.0,80,1.0,0.0,0.0,normal,normal,notpresent,notpresent,...,53.0,6800,6.1,no,no,no,good,no,no,notckd

In [32]:
frequent_imputer = SimpleImputer(strategy='most_frequent')
for col in qual:
    dataset[[col]] = frequent_imputer.fit_transform(dataset[[col]])

In [33]:
dataset[qual].isna().sum()

rbc               0
pc                0
pcc               0
ba                0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [34]:
CleanedDataset=dataset.to_csv("CleantedDataSet.csv", index=False)